---
import Layout from "../layouts/Page.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("June 17 2025")}
  updatedDate={new Date("June 17 2025")}
>
  <p>Hai I'm Sujit</p>
</Layout>
