---
import Layout from "../layouts/Page.astro";
---

<Layout
  title="About Me"
  description="About me"
  pubDate={new Date("June 17 2025")}
  updatedDate={new Date("June 17 2025")}
>
  <p>I'm a Software Engineer.</p>
</Layout>
