---
import { SITE_TITLE } from "../consts";
---

<nav class="flex flex-col items-center gap-2 max-w-3xl mx-auto mt-4">
  <h2>
    <a href="/" class="font-semibold text-xl">{SITE_TITLE}</a>
  </h2>
  <hr class="w-full" />
  <div class="flex gap-2">
    <a href="/" class="a-link">Home</a> |
    <a href="/blog" class="a-link">Blog</a> |
    <a href="/series" class="a-link">Series</a> |
    <a href="/about" class="a-link">About</a>
  </div>
  <hr class="w-full" />
</nav>
